* 
{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root 
{
  --space_cadet: #21295c;
    --dark_cornflower_blue: #1b3b6f;
    --black: #242d49;
    --cadet_gray: #9eb3c2;
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --blue_sapphire: #1c7293;
}

.App
{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}